<p style="color: green"><%= notice %></p>
<h1 class="pb-3">Tweet</h1>
<%= render @tweet  %>

<div>
  <%= link_to "Editar este tweet", edit_tweet_path(@tweet), class:"btn btn-primary" %> |
  <%= link_to "Volver a tweets", tweets_path, class:"btn btn-primary" %>
<div class="pt-4">
  <%= button_to "Eliminar este tweet", @tweet, method: :delete, class:"btn btn-primary" %>
</div>
</div>